$primary-color: #0400ff

body{
    background-image: url(../Images/AE.jpg);
}
#aboutBand {
    color: rgb(0, 47, 255);
}
#collapseWidthExample {
    color: rgb(255, 0, 170);
}
#nav {
    background-color: rgb(0, 0, 168);
}
#litteralli {
    color: rgb(255, 0, 212);
    text-align: center;
    font-size: 100px;
}
#albumeita {
    color: rgb(12, 12, 151);
}
#jasennimet {
    color: rgb(255, 0, 0);
}
#lisaainfoa {
color: rgb(17, 0, 173);
}
h1::first-letter {
    color: #ff0000;
    font-size: 60px;
  }
  h2::first-letter {
    color: #0400ff;
  }
  h3::first-line {
    color: #0bf52a;
    font-variant: small-caps;
  }
  h1::after {
    content: url(../Images/Arch-Enemy-Logo.png);
  }
  ::selection {
    color: rgb(0, 238, 255);
    background: rgb(218, 18, 158);
}
#bandi {
    color: $primary-color
}
h1 span {
    color: rgb(255, 0, 200);
}


/* En saanut muita selektoreita toimimaan, kuin pseudo selektorit. */
/* Sass asentui oikein, mutta en saanut koodeja toimimaan. */